.adverts__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(274px, 1fr));
    justify-items: center;
    gap: 28px;
}

.adverts__no-content {
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}