@import '../../../variables.scss';

.header {
    color: $headingsSecondColor;
    padding: 12px;
    margin-bottom: 24px;

    &__container {
        display: grid;
        grid-template-columns: 6.5rem 1fr 10.25rem;
        justify-items: center;
        align-items: center;
        gap: .9375rem;

        min-height: 3rem;

        padding-top: .3125rem;
        padding-bottom: .3125rem;

        max-width: $desktop;
        margin: 0 auto;
        padding: 0 0.9375rem;
    }

    &__logo {
        position: relative;

        display: flex;
        align-items: center;

        font-weight: 800;
        text-transform: uppercase;

        padding: 4px;

        color: $headingsColor;


        border-radius: 5px;

        overflow: hidden;
        z-index: 1;

        transition: color .5s;

        &>svg {
            fill: $accentColor;
            transition: fill .5s;
        }

        &:after,
        &:before {
            transition: color .5s, width .5s, left .5s, right .5s;
        }

        &:after,
        &:before {
            content: ' ';
            position: absolute;
            z-index: -1;
            top: 0;
            bottom: 0;
            width: 0;
            height: 100%;
            margin: auto;
            background: $hoverColor;
            color: transparent;
            opacity: 0.75;
            transition: color .5s, width .5s, left .5s, right .5s;
        }

        &:before {
            left: 0;
        }

        &:after {
            right: 0;
        }

        &:hover:after,
        &:hover:before,
        &:focus:after,
        &:focus:before {
            width: 100%;
        }

        &:hover,
        &:focus {
            color: $whiteColor;

            &>svg {
                fill: $whiteColor;
            }
        }
    }

}

.addition-data__list {
    text-align: start;
}

.addition-data__link {
    position: relative;
    z-index: 1;
    display: block;

    width: fit-content;

    color: inherit;

    padding: 5px 0;

    transition: color .5s;

    &:after,
    &:before {
        transition: color .5s, width .5s, left .5s, right .5s;
    }

    &:after,
    &:before {
        content: ' ';
        position: absolute;
        z-index: -1;
        bottom: 2px;
        width: 0;
        height: 2px;
        margin: auto;
        border-radius: 4px;
        background: $hoverColor;
        color: transparent;
        opacity: 0.75;
        transition: color .5s, width .5s, left .5s, right .5s;
    }

    &:before {
        left: 0;
    }

    &:after {
        right: 0;
    }

    &:hover:after,
    &:hover:before {
        width: 100%;
    }

    &:hover {
        color: $hoverColor;
    }
}