@import '../../../variables.scss';

.description__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    row-gap: 4px;

    font-weight: 400;
    line-height: 1.5;

    color: $descColor;

    width: fit-content;

    &>li {
        &:not(:last-child) {
            padding-right: 6px;
            margin-right: 6px;

            border-right: 1px solid $borderColor;
        }
    }

    &.small {
        max-width: 274px;
    }

    &.medium {
        max-width: 280px;
    }

    &.large {
        max-width: 100%;
    }
}