@import '../../../variables.scss';

.footer {
    // width: 100%;
    color: $headingsSecondColor;
    padding: 12px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: $bgDarkColor;

    &__container {
        display: grid;
        grid-template-rows: 1fr 1rem;
        justify-items: center;
        gap: .5rem;

        min-height: 3rem;

        padding-top: .25rem;
        padding-bottom: .25rem;

        max-width: $desktop;
        margin: 0 auto;
        padding: 0 0.9375rem;
    }

    &__wrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    &__logo {
        display: grid;
        align-items: center;
        width: fit-content;
        height: fit-content;

        &>svg {
            width: 70px;
            height: 70px;
        }

        border-radius: 50%;
    }

    &__logo.active {
        background-color: $hoverColor;
    }
}

.address__link {
    position: relative;
    z-index: 1;
    display: block;

    color: inherit;

    padding: 5px;

    transition: color .5s;

    &:after,
    &:before {
        transition: color .5s, width .5s, left .5s, right .5s;
    }

    &:after,
    &:before {
        content: ' ';
        position: absolute;
        z-index: -1;
        bottom: 2px;
        width: 0;
        height: 2px;
        margin: auto;
        border-radius: 4px;
        background: $hoverColor;
        color: transparent;
        opacity: 0.75;
        transition: color .5s, width .5s, left .5s, right .5s;
    }

    &:before {
        left: 0;
    }

    &:after {
        right: 0;
    }

    &:hover:after,
    &:hover:before {
        width: 100%;
    }

    &:hover {
        color: $hoverColor;
    }
}