@import '../../../variables.scss';

.section {
    margin: auto;
    padding: 26px 0;
    max-width: 1184px;
    background-color: $bgColor;

    &__title {
        font-weight: 700;
        font-size: $headingsFontSize;

        text-align: center;
        margin: 0;
    }
}