@import '../../variables.scss';

.in-stock__container {
    margin-top: 28px;

}

.in-stock__btn {

    display: block;

    width: fit-content;
    font-size: $headingsSecondFontSize;
    font-weight: 600;
    line-height: 1.42;

    margin: auto;
    margin-top: 24px;

    color: $headingsColor;

    border: 2px solid $accentColor;
    border-radius: 12px;
    cursor: pointer;


    padding: 12px 50px;

    transition: background-color .5s;
    transition: color .5s;

    &:hover,
    &:focus {
        color: $whiteColor;
        background-color: $hoverColor;
    }
}