@import '../../../variables.scss';

.chip__list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.chip__item {
    line-height: 1.5;
    letter-spacing: -0.24px;

    padding: 7px 14px;

    color: #363535;
    background-color: #F9F9F9;
    border-radius: 39px;

    &>span {
        font-weight: 600;

        color: $accentColor;
    }
}