@import '../../../variables.scss';

.button {
    font-size: $headingsSecondFontSize;
    font-weight: 600;
    line-height: 1.42;

    color: $whiteColor;
    background-color: $accentColor;

    border: none;
    border-radius: 12px;
    cursor: pointer;

    &--large-size {
        padding: 12px 99px;
    }

    &--small-size {
        padding: 12px 50px;
    }

    &--text {
        font-size: $standartSize;
        font-weight: 500;
        line-height: 1.5;
        text-decoration-line: underline;

        color: $accentColor;
        background-color: transparent;

        padding: 0;
        border: none;

    }

    &:hover,
    &:focus {
        background-color: $hoverColor;
    }

    &--text:hover,
    &--text:focus {
        color: $hoverColor;
        background-color: transparent;
    }
}