@import '../../variables.scss';

.hero__container {
    position: relative;

    display: grid;
    align-content: center;
    justify-content: start;

    gap: 24px;
    padding-left: 44px;

    margin-left: 12px;
    margin-right: 12px;

    height: 444px;
    border-radius: 24px;

    background-color: #EFF0F0;

    &>h1 {
        z-index: 1;
        font-size: 60px;
        font-weight: 700;
        width: 80%;

        color: $headingsColor;
    }

    &>p {
        font-size: 26px;
    }

    &>img {
        position: absolute;
        z-index: 1;

        right: 14px;
        bottom: 0;

        height: 325px;

        @media screen and (max-width:1124px) {
            height: 250px;

        }
    }
}

.bg__wrapper {
    position: absolute;

    height: 100%;
    width: 100%;
    // overflow: hidden;

    border-radius: 25px;
    opacity: 0.58;
    background: url(../../images/hero_bg.png), lightgray -76.778px -244.435px / 110.343% 151.497% no-repeat;
    background-blend-mode: multiply;



}