$fontSize: 12px;
$headingsSecondFontSize: 14px;
$headingsFontSize: 18px;
$standartSize: 16px;

$bgColor: #ffffff;
$bgDarkColor: #262626;
$bgSecondColor: #f7f7fb;

$headingsColor: #121417;
$headingsSecondColor: #8A8A89;

$descColor: rgba(18, 20, 23, 0.50);
$descSecondColor: #000000;

$accentColor: #3470ff;
$hoverColor: #0B44CD;

$borderColor: rgba(18, 20, 23, 0.10);
$borderSecondColor: rgba(138, 138, 137, 0.20);

$whiteColor: #ffffff;
$blackColor: #121417;

$desktop: 91.25em;

:export {
    fontSize: $fontSize;
    headingsFontSize: $headingsFontSize;
    headingsSecondFontSize: $headingsSecondFontSize;
    standartSize: $standartSize;

    bgColor: $bgColor;
    bgDarkColor: $bgDarkColor;
    bgSecondColor: $bgSecondColor;

    headingsColor: $headingsColor;
    headingsSecondColor: $headingsSecondColor;

    descColor: $descColor;
    descSecondColor: $descSecondColor;

    accentColor: $accentColor;
    hoverColor: $hoverColor;
    borderColor: $borderColor;

    whiteColor: $whiteColor;
    blackColor: $blackColor;

    desktop: $desktop;
}